* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
div {
  display: block;
}
button {
  outline: none;
  border: 0;
  cursor: pointer;
}
a {
  transition: .5s all ease;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
a:visited,
a:active {
  color: inherit;
}
a:hover,
a:focus {
  color: #fff;
}