.contacts__block {
  height: 176px;
  margin-bottom: 60px;
  display: flex;
}
.contacts__block__icon {
  background-color: var(--orange);
  color: #fff;
  font-size: 2rem;
  align-items: center;
}
.contacts__block__icon,
.contacts__block__info {
  display: flex;
  justify-content: center;
}
.contacts__block__info {
  background-color: #fafafa;
  flex-direction: column;
  font-size: 1rem;
  word-wrap: break-word;
}
.contacts__block__info-h {
  margin: 0 0 1rem 0;
}