.footer {
  background: var(--black);
  color: #fff;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 18px 0;
}
.footer__top__social {
  display: flex;
}
.footer__top__social__icon {
  display: block;
  color: black;
  font-size: .5rem;
  margin-left: 10px;
}
.footer__line {
  opacity: .04;
  margin: 0;
}
.footer__bottom {
  text-align: center;
  font-size: 0.75rem;
  padding: 16px 0;
}
@media (max-width: 575.99px) {
  .footer__top {
    flex-direction: column;
  }
  .footer__top__social {
    margin-top: 18px;
  }
}