.header--top,
.header--top--contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--top--contacts {
  display: flex;
}
.header--top--contact--header {
  margin: 0;
}