.header--top,
.header--top--info--block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--top--info {
  display: flex;
}
.header--top--info--block--header {
  margin: 0;
}