.header--top--info,
.header--top--info--block {
  display: flex;
  justify-content: space-between;
}
.header--top--info--block {
  align-items: center;
  color: var(--black);
}
.header--top--info--block {
  font-size: .875rem;
}
.header--top--info--block--header {
  margin: 0;
  font-size: 1rem;
}