.navbar {
  background: #333;
}
.navbar-container {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar__nav__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: #fff;
  margin-left: -20px;
  margin-right: -20px;
}
.navbar__btn {
  background: var(--orange);
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  font-size: 0.875rem;
}
.navbar__nav__link {
  display: block;
  padding: 16px 20px;
}
.navbar__toggler {
  background: transparent;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  padding-left: 0;
}
.navbar__toggler-active {
  color: var(--orange);
}
@media (max-width: 991.99px) {
  .navbar__nav,
  .navbar-desktop__btn {
    display: none;
    width: 100%;
  }
  .navbar__nav__ul { 
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .navbar__toggler,
  .navbar-mobile__btn {
    display: none;
  }
}
.navbar-mobile__show {
  display: block;
}
