.navbar {
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar--nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: #fff;
}
.navbar--btn {
  background: var(--yellow);
  color: #fff;
  text-transform: uppercase;
  padding: 6px;
  font-weight: bold;
}
.navbar--nav--link {
  display: block;
  padding: 16px 0;
}
