.section--top,
.section-white--top {
  text-align: center;
}
.section-white--top {
  z-index: 17;
  margin: -36px 20% 0;
  background-color: #fff;
}
.devices--block {
  padding: 15px;
  background-color: #fafafa;
  height: 100%;
}
.features {
  background-color: var(--yellow);
  color: #fff;
}
.features--blocks--header {
  display: flex;
  align-items: flex-end;
}