.section {
  padding-bottom: 60px;
}
@media (max-width: 991.99px) {
  .section {
    padding-bottom: 20px;
  }
}
.devices--block--header {
  font-size: 1.375rem;
  margin: 0 0 .5rem 0;
}
.devices--block {
  padding: 15px;
  background-color: #fafafa;
  height: 100%;
}
@media (max-width: 991.99px) {
  .devices--block {
    margin-bottom: 20px;
    height: auto;
  }
}
.devices--block--header {
  color: var(--yellow);
}
.features {
  background-color: var(--yellow);
  color: #fff;
}
.features--blocks--header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}
.features--blocks--header--text {
  margin: 0;
  font-size: 1.375rem;
}