.section {
  padding-bottom: 60px;
}
@media (max-width: 991.99px) {
  .section {
    padding-bottom: 20px;
  }
}
.devices__block__header {
  font-size: 1.375rem;
  margin: 0 0 .5rem 0;
}
.devices__block {
  padding: 15px;
  background-color: #fafafa;
  height: 100%;
}
@media (max-width: 991.99px) {
  .devices__block {
    margin-bottom: 20px;
    height: auto;
  }
}
.devices__block__header {
  color: var(--orange);
}
.features {
  background-color: var(--orange);
  color: #fff;
}
.features__blocks__header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}
.features__blocks__header__text {
  margin: 0;
  font-size: 1.375rem;
}