/* 
*
  ========================================================================== 
  Styles
  ========================================================================== 
*
*/
:root {
  --yellow: #FBBA08;
  --gray: #FAFAFA;
  --black: #333;
  --text-gray: #adadad;
}